<div id="bodyRandom">
    <div id="randomCerve">

        <img src= {{image_url}} height="300px">
        <p>{{name}}</p>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
        <p>{{food_pairing}}</p>
        <p>{{brewer_tips}}</p>
    </div>
</div>